/* POUR TOUTE LAPP grace a React */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* PARTIE pour NAV BAR  */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
body, button, input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}
body, input {
  color: #171717;
}
body, .search-bar {
  display: flex;
}
body {
  background: #ffffff;
  height: 100vh;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #F98381 inset;
  padding: 0.75em;
  transform: translate(0.5em,0.5em) scale(0.7);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #3B88E4;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.0em,0.7em) rotate(45deg) scale(0.5,0.25);
  transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em,0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #51B3E0;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  body, input {
    color: #f1f1f1;
  }
  body {
    background: #171717;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}


/* --------------- */
/* PARTIE pour reste  */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 130px;
  max-height: 10vh;
  box-sizing: border-box;
}

/*titre*/
h2 {
  display: flex;
  justify-content: center; /*centre horizontalement */
  align-items: center; 
  width: 70%;
  margin: 0 auto; /* Centre le bloc h2 */
  text-align: center; 
}

/*Zone pour le mot clé et le bouton */
.zoneMotCle {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px;
  margin: 0 auto; 
}

/*Style du mot clé */
.zoneMotCle input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  gap: 20px;
  margin: 20px auto 0;
  max-height: 70vh;
  overflow-y: auto; /*défilement vertical si nécessaire */
  padding: 10px;
}

.zonePosts {
  padding: 15px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
  width: 100%;
  box-sizing: border-box; /*Inclut le padding dans la largeur */
}

.zonePostsBadge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sentimentBadge {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
}

/*Couleur des contours selon le sentiment*/
.positive {
  border-left: 7px solid green;
}
.negative {
  border-left: 7px solid red;
}
.neutral {
  border-left: 7px solid gray;
}

/*Couleur des sentiment */
.positive .sentimentBadge {
  background: green;
}
.negative .sentimentBadge {
  background: red;
}
.neutral .sentimentBadge {
  background: gray;
}

/* Style des boutons de posts */
.zonePosts {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Style des commentaires */
.comments {
  display: flex;
  flex-direction: column; /*pour avoir les commentaires verticalement */
  align-items: center;
  margin: 20px auto 0;
  gap: 10px;
  max-height: 70vh; 
  overflow-y: auto; /*Défilement vertical*/
  width: 80%;
  padding: 10px;
}

.zoneCommentaire {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/*Style de la barre de défilement */
.results::-webkit-scrollbar,
.comments::-webkit-scrollbar {
  width: 8px;
}

.results::-webkit-scrollbar-track,
.comments::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.results::-webkit-scrollbar-thumb,
.comments::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.results::-webkit-scrollbar-thumb:hover,
.comments::-webkit-scrollbar-thumb:hover {
  background: #555;
}

















/* POUR LES STATISTIQUE DES REPARTITION DES SENTIMENTS */

.containerRepartitionSentiment {
  display: flex;
  margin: 0 auto 20px auto;
  width: 80%;
  position: relative;
}

.zoneBarreStat {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 280px; 
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /*centre le contenu */
}


.miniBarre {
  width: 100%;
  height: 20px; 
  background: #f0f0f0;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  margin: 10px auto; /*centrage horizontal */
}

.partie_BarreSentiment {
  height: 100%;
}

.partie_BarreSentiment.positive_bar {
  background: #4CAF50; 
}
.partie_BarreSentiment.negative_bar {
  background: #F44336; 
}
.partie_BarreSentiment.neutral_bar {
  background: #9E9E9E; 
}

.legendeBarre {
  display: flex;
  justify-content: space-around; /*pour espacer égale */
  font-size: 22px;
  margin-top: 8px;
}


.legendeBarre span {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
}

.zoneBarreStat h3 {
  margin: 0 0 10px 0;
  font-size: 22px;
  color: #333;
}


/*Ordre des éléments dans la legende */
.legendeBarre span:nth-child(1) { order: 1; } /* Positive */
.legendeBarre span:nth-child(2) { order: 3; } /* Negative */
.legendeBarre span:nth-child(3) { order: 2; } /* Neutral */

